.cryptoCard {
  border: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  padding: 5px 10px 5px 10px;
  position: relative;
  justify-content: space-between;
  font-family: sans-serif;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.cryptoCategory {
  display: flex;
  gap: 10px;
  border: 2px solid white;
  position: relative;
}

.cryptoValue {
  /* border: 2px solid black; */
  padding: 0;
  position: relative;
  align-content: center;
  
}

.cryptoValue > div {
  display: flex;
  justify-content: end;
  color: red;
  padding-right: 10px;
  position: relative;
  /* border: 2px solid red; */
}

.starBtn {
    cursor: pointer;
    color: grey;
    font-size: 20px;
    transition: color 0.3s ease; 
    /* border: 2px solid black; */
}

/* .starBtn:hover {
  color: rgb(255, 187, 0);
  transition: 0.3s ease;
} */

.cryptoTitle {
  color: black;
  font-size: 10px;
}

.cryptoLogo {
  color: black;
  width: 50;
  height: auto;
  /* border: 2px solid black; */
  position: relative;
}

.cryptoLogo > img {
  object-fit: cover;
  width: 5vw;
  height: auto;
  /* border: 2px solid black; */
}

.cryptoPercentage {
  font-size: 10px;
  align-items: center;

}

.cyrptoPrice {
  font-size: 15px;
}