.cryptoCard {
  border: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  padding: 5px 10px 5px 10px;
  position: relative;
  justify-content: space-between;
  font-family: sans-serif;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.cryptoCategory {
  display: flex;
  gap: 10px;
  border: 2px solid white;
  position: relative;
}

.cryptoValue {
  border: 2px solid white;
  padding: 0;
  position: relative;
}

.cryptoValue > div {
  justify-content: end;
  color: red;
  text-align: end;
  padding-right: 10px;
  position: relative;
}

.starBtn {
    cursor: pointer;
    color: grey;
}
.cryptoTitle {
  color: black;
}

.cryptoLogo {
  color: black;
  width: 50;
  height: auto;
  /* border: 2px solid black; */
  position: relative;
}

.cryptoLogo > img {
  object-fit: cover;
  width: 5vw;
  height: auto;
  /* border: 2px solid black; */
}

.cryptoPercentage {
  font-size: 10px;
}

.cyrptoPrice {
  font-size: 15px;
}