.cryptoCard {
  border: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 10px 0 10px;
  position: relative;
  justify-content: space-between;
  gap: 300px;
}

.cryptoCategory {
  display: flex;
  gap: 10px;
  border: 2px solid white;
  position: relative;
}

.cryptoValue {
  border: 2px solid white;
  padding: 0;
  position: relative;
}

.cryptoValue > div {
  justify-content: end;
  color: red;
  text-align: end;
  padding-right: 10px;
  position: relative;
}

.starBtn {
    cursor: pointer;
}